{ns audit-log-viewer
 import #{zenbox}

 AuditEventR5
 {:zen/tags        #{zen/schema zenbox/persistent}
  :confirms        #{zenbox/Resource}
  :resourceType    "AuditEventR5"
  :type            zen/map
  :validation-type :open}

 seed-user
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:User
   {:delete-me
    {:email    "foo@bar.com"
     :active   false
     :password "password"}}}}

 }
