{ns     audit-log-viewer
 import #{aidbox
          aidbox.archive
          aidbox.search-parameter.v1
          aidbox.repository.v1
          audit-log-viewer.viewer
          zenbox
          awf.executor}

 entrypoint
 {:zen/tags #{aidbox/system}
  :services {#_#_:repositories repositories
             :audit-event-r5 audit-event-r5
             :task-service awf.task/task-service
             :aidbox-long-pool-executor-service awf.executor/aidbox-long-pool-executor-service
             :aidbox-decisions-executor-service awf.executor/aidbox-decisions-pool-executor-service
             :demo-fixtures audit-log-viewer.demo-fixtures}}

 audit-event-date-search-param
 {:zen/tags   #{aidbox.search-parameter.v1/search-parameter}
  :name       "date"
  :type       :date
  :resource   {:resourceType "Entity" :id "AuditEventR5"}
  :expression [[:recorded]]}

 audit-event-repository
 {:zen/tags                #{aidbox.repository.v1/repository}
  :resourceType            "AuditEventR5"
  :extra-parameter-sources :all
  :search-parameters       #{audit-event-date-search-param}}

 repositories
 {:zen/tags     #{aidbox/service}
  :engine       aidbox.repository.v1/engine
  :repositories #{audit-event-repository}
  :load-default true}

 audit-event-r5
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed-v2
  :resources {:Entity
              {:AuditEventR5 {:type "resource" :isOpen true}
               :Partition    {:type "resource" :isOpen true}}}}}
