{ns     audit-log-viewer.viewer
 import #{zenbox
          audit}


 table-view
 {:zen/tags #{audit/table-layout}
  :columns
  [{:name "Date" :path [:recorded] :fallback "—"}
   {:name "User" :path [:agent 0 :who :identifier :value]}
   {:name "Event" :path [:code :coding 0 :display]}
   {:name "Patient" :path [:patient :reference] :fallback "—"}]

  :views
  [{:when [[[:category {} :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] "110114"]
           [[:code :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] "110122"]]
    :view [:div [:h1 "I'm the login event"]]}]
  }
 }
