{ns     audit-log-viewer.viewer
 import #{zenbox
          audit}

 table-view
 {:zen/tags #{audit/table-layout}
  :columns
  [{:name "Date" :path [:occuredDateTime] :fallback "—"}
   {:name "Event" :path [:code :coding 0 :display]}
   {:name "Outcome" :path [:outcome :code :display]}
   {:name "User" :path [:agent 0 :who :display]}
   {:name "Patient" :path [:patient :reference] :fallback "—"}]

  :views
  [{:when [{:path [:category {} :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110114" }
           {:path [:code :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110122"}
           {:path [:outcome :code :system] :value "http://terminology.hl7.org/CodeSystem/audit-event-outcome" }
           {:path [:outcome :code :code] :value "4"}]
    :col  [{:path [:agent 0 :who :identifier :value] :name "User id"}
           {:path [:agent 0 :who :display] :name "User name"}
           {:path [:occuredDateTime] :name "Login attempt timestamp"}
           {:path [:outcome :code :display] :name "Login status"}
           {:path [:agent 1 :networkString] :name "Login device"}
           {:path [:source :observer :identifier :value] :name "Login attempt to / System"}
           {:path [:source :observer :display] :name "Login attempt to / Service"}]}

   {:when [{:path [:category {} :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110114" }
           {:path [:code :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110122"}
           {:path [:outcome :code :system] :value "http://terminology.hl7.org/CodeSystem/audit-event-outcome" }
           {:path [:outcome :code :code ] :value "0"}]
    :col [{:path [:agent 0 :who :identifier :value] :name "User id"}
          {:path [:agent 0 :who :display] :name "User"}
          {:path [:occuredDateTime] :name "Login timestamp"}
          {:path [:outcome :code :display] :name "Login status"}
          {:path [:agent 1 :networkString] :name "Login device"}
          {:path [:source :observer :identifier :value] :name "Login to / System"}
          {:path [:source :observer :display] :name "Login to / Service"}]}

   {:when [{:path [:category {} :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110114"}
           {:path [:code :coding {:system "http://dicom.nema.org/resources/ontology/DCM"} :code] :value "110123"}
           {:path [:outcome :code :system] :value "http://terminology.hl7.org/CodeSystem/audit-event-outcome" }
           {:path [:outcome :code :code ] :value "0"}]

    :col [{:path [:agent 0 :who :identifier :value] :name "User id"}
          {:path [:agent 0 :who :display] :name "User"}
          {:path [:occuredDateTime] :name "Logout timestamp"}
          {:path [:outcome :code :display] :name "Logout status"}
          {:path [:agent 1 :networkString] :name "Logout device"}
          {:path [:source :observer :identifier :value] :name "Logout from / System"}
          {:path [:source :observer :display] :name "Login from / Service"}]}]}}
